.smallProjectBox{
    padding: 10px;
    max-height: 400px;
}
.videoBox{
    height: 250px;
    width: 450px;
    border: 2px solid white;
    border-radius: 20px;
}

.tech>button{
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
    margin-left: 10px;
    margin-top: 2px;
}